<div class="flex">
  <h3 mat-dialog-title>{{ clase }} Categoria de marca</h3>
  <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>

<form [formGroup]="fgValidador" (ngSubmit)="setGuardarcategoria()">
  <div mat-dialog-content>
    <mat-form-field *ngIf="clase=='Editar'" MatFormFieldControl appearance="fill">
      <label for="id">Id</label>
      <input type="text" formControlName="id" id="id" />
    </mat-form-field>
    <mat-form-field MatFormFieldControl appearance="fill">
      <label for="nombre">Nombre</label>
      <input type="text" formControlName="nombre" id="nombre" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button  [disabled]="!fgValidador.valid" class="waves-effect waves-light btn" type="submit">Aceptar</button>
  </div>
</form>
