<h3>Mis vehiculos</h3>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef>color</th>
      <td mat-cell *matCellDef="let element">{{ element.color }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef>modelo</th>
      <td mat-cell *matCellDef="let element">{{ element.modelo }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="serie_motor">
      <th mat-header-cell *matHeaderCellDef>serie_motor</th>
      <td mat-cell *matCellDef="let element">{{ element.serie_motor }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef>placa</th>
      <td mat-cell *matCellDef="let element">{{ element.placa }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>estado</th>
      <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef>marca</th>
      <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/productos/editar-vehiculo/{{ element.id }}"
          ><span class="material-icons edit">edit</span></a
        >
        <span (click)="addDeleteModals(element.id)" class="material-icons delete"
          >delete</span
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>


  </table>
</div>
