h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

/* clase para Label*/
label {
  font-size: 14px;
  color: #075b63;
}

/* clase para Inpun*/
input {
  padding: 10px;
  font-size: 13px;
  color: #03020f;
}

.form-control {
  margin: 10px;
  background: rgb(241, 239, 234);
  border-radius: 10px;
  padding: 10px;
}

.form-control-content {
  margin-top: 20px;
  padding: 10px;
}

.registrarse {
  text-decoration: underline;
  cursor: pointer;
}

.registrarse:hover {
  color: #48cf43;
}

.container-login{
  width: 400px;
}

.content{
justify-content: center;
display: flex;
}

h3{
  margin: 0px;
}

.btn-aceptar{
  border-radius: 10px;
  padding: 10px;
}

.btn-aceptar:hover{
  border-radius: 10px;
  padding: 10px;
  color: #48cf43;
  cursor: pointer;
  color: white;
}

.mat-elevation-z
{
  background: red;
}
